In [1]:
import numpy as np
import pandas as pd
import os 
import glob2
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt

In [2]:
def regression_results(y_true, y_pred):
    # Regression metrics
    explained_variance=metrics.explained_variance_score(y_true, y_pred)
    mean_absolute_error=metrics.mean_absolute_error(y_true, y_pred) 
    mse=metrics.mean_squared_error(y_true, y_pred) 
    median_absolute_error=metrics.median_absolute_error(y_true, y_pred)
    r2=metrics.r2_score(y_true, y_pred)
    n = y_true.size    
    print('R2: ', round(r2,4))
    print('Explained Variance: ', round(explained_variance,4))
    print('MAE: ', round(mean_absolute_error,8))
    print('MSE: ', round(mse,8))
    print('RMSE: ', round(np.sqrt(mse),8))

In [44]:
base_path = os.getcwd()
structure = []
data = []

In [36]:
files = (os.listdir(os.curdir))
os.chdir(base_path)
os.chdir(base_path + '\\Train_data_1\\')
max_size = range(len(files))
for i,j in zip(files,tqdm(max_size)):
    f=open(i)
    lines=f.readlines()
    n = int(lines[0])
    file_data = lines[1].rstrip("\t\n").split('\t')
    file_data = file_data[1:]
    float_data = [float(prop) for prop in file_data]
    data.append(float_data)
    structure.append(lines[n+3].split('\t')[0])
    f.close()
os.chdir(base_path)

100%|██████████████████████████████████████████████████████████████████████▉| 133884/133885 [00:09<00:00, 13908.10it/s]

In [42]:
train_data_1 = pd.DataFrame(data)
train_data_1['structure']=structure
columns = ['index','A','B','C','mu','alpha','homo','lumo','gap','r2','zpve','U0','U','H','G','CV','Structure']
train_data_1.to_csv('train_data_1.csv',index=False)

In [47]:
files = (os.listdir(os.curdir))
max_size = range(len(files))
os.chdir(base_path)
os.chdir(base_path + '\\Train_data_2\\')
for i,j in zip(files,tqdm(max_size)):
    f=open(i)
    lines=f.readlines()
    n = int(lines[0])
    file_data = lines[1].rstrip("\t\n").split('\t')
    file_data = file_data[1:]
    float_data = [float(prop) for prop in file_data]
    data.append(float_data)
    structure.append(lines[n+3].split('\t')[0])
    f.close()
os.chdir(base_path)

100%|███████████████████████████████████████████████████████████████████████████▉| 6094/6095 [00:00<00:00, 7491.48it/s]

In [48]:
train_data_2 = pd.DataFrame(data)
train_data_2['structure']=structure
columns = ['index','A','B','C','mu','alpha','homo','lumo','gap','r2','zpve','U0','U','H','G','CV','Structure']
train_data_2.to_csv('train_data_2.csv',index=False)

In [50]:
train_data_1.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000,133885.000000
mean,9.814382,1.406097,1.124921,2.706037,75.191296,-0.239977,0.011124,0.251100,1189.527450,0.148524,-411.543985,-411.535513,-411.534569,-411.577397,31.600676
std,1809.465666,1.583795,1.095618,1.530394,8.187793,0.022131,0.046936,0.047519,279.757172,0.033274,40.060230,40.060012,40.060012,40.060741,4.062471
min,0.000000,0.337120,0.331180,0.000000,6.310000,-0.428600,-0.175000,0.024600,19.000200,0.015951,-714.568061,-714.560153,-714.559209,-714.602138,6.002000
25%,2.554430,1.091630,0.910480,1.588700,70.380000,-0.252500,-0.023800,0.216300,1018.322600,0.125289,-437.913936,-437.905942,-437.904997,-437.947682,28.942000
50%,3.090360,1.369940,1.078560,2.500000,75.500000,-0.241000,0.012000,0.249400,1147.585800,0.148329,-417.864758,-417.857351,-417.856407,-417.895731,31.555000
75%,3.835820,1.653980,1.279540,3.636100,80.520000,-0.228700,0.049200,0.288200,1308.816600,0.171150,-387.049166,-387.039746,-387.038802,-387.083279,34.276000
max,619867.683140,437.903860,282.945450,29.556400,196.620000,-0.101700,0.193500,0.622100,3374.753200,0.273944,-40.478930,-40.476062,-40.475117,-40.498597,46.969000

In [51]:
train_data_2.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000
mean,2.987290,1.399757,1.143595,2.245983,76.237482,-0.240667,0.021889,0.262556,1185.303637,0.156478,-422.537512,-422.528937,-422.527993,-422.570907,32.311137
std,0.824335,0.354020,0.267686,0.960131,2.316760,0.011724,0.044412,0.043320,239.448572,0.001966,0.034052,0.034099,0.034099,0.034095,2.395529
min,1.463538,0.381853,0.379867,0.003800,71.450000,-0.279730,-0.096370,0.141390,828.180000,0.150991,-422.629584,-422.622605,-422.621660,-422.662154,25.710000
25%,2.460825,1.164438,0.967887,1.586550,74.570000,-0.247750,-0.019795,0.222270,1035.972300,0.155181,-422.562300,-422.553945,-422.552999,-422.595230,30.728500
50%,2.803668,1.420784,1.144443,2.208600,75.800000,-0.240960,0.015140,0.263070,1128.956300,0.156448,-422.537107,-422.528357,-422.527412,-422.570710,32.207000
75%,3.297857,1.654440,1.311691,2.839700,77.490000,-0.233880,0.067820,0.303380,1260.306600,0.157811,-422.513107,-422.504387,-422.503443,-422.546365,33.637000
max,11.539460,2.341566,2.087373,5.556000,86.240000,-0.181390,0.103950,0.354120,2751.248700,0.162739,-422.388768,-422.380484,-422.379540,-422.420789,39.471000

In [52]:
train_data_1.to_csv("train_data_1.csv")
train_data_2.to_csv("train_data_2.csv")